#
# The following files are ignored 
#

# Object and archive files
*.o
*.a

# The resulting executable
/space

# CMake configuration files
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
